<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Success Form in Golang Template </title>
</head>
<body>
    <h1> Success Form. Name {{ .Name }} </h1>
    <a href="{{ .File }}"> File </a>
</body>
</html>